<template>
  <Layout>
    <content-header title="Authors" image="danil_silantev_F6Da4r2x5to.jpg">
    </content-header>
  <ul class="flex justify-center">
      <li>
        <g-link
    class="text-lg bg-light3 dark:bg-dark3 dark-hover:bg-dark1 hover:bg-light1 py-2 px-4 mr-2 border border-light0 dark:border-dark0 rounded-full"
          v-for="author in $page.authors.edges"
          :to="author.node.path"
          :key="author.node.name"
          >{{ author.node.name }}</g-link
        >
      </li>
    </ul>
  </Layout>
</template>

<page-query>
  query {
    authors: allAuthor {
      edges {
        node {
          id,
          name,
          path 
        }
      }
    }
  }
</page-query>

<static-query>
query {
  metadata {
    siteName
    siteDescription
  }
}
</static-query>

<script>
import ContentHeader from "~/components/Partials/ContentHeader.vue";

export default {
  components: {
    ContentHeader
  },
  metaInfo: {
    name: "Authors"
  }
};
</script>

<style scoped></style>
