<template>
  <Layout>
    <content-header title="Tags" image="danil_silantev_F6Da4r2x5to.jpg">
    </content-header>
  <ul class="flex justify-center">
      <li>
        <g-link
    class="text-lg bg-light3 dark:bg-dark3 dark-hover:bg-dark1 hover:bg-light1 py-2 px-4 mr-2 border border-light0 dark:border-dark0 rounded-full"
          v-for="tag in $page.tags.edges"
          :to="tag.node.path"
          :key="tag.node.title"
          >{{ tag.node.title }}</g-link
        >
      </li>
    </ul>
  </Layout>
</template>

<page-query>
  query {
    tags: allTag {
      edges {
        node {
          id,
          title,
          path 
        }
      }
    }
  }
</page-query>

<static-query>
query {
  metadata {
    siteName
    siteDescription
  }
}
</static-query>

<script>
import ContentHeader from "~/components/Partials/ContentHeader.vue";

export default {
  components: {
    ContentHeader
  },
  metaInfo: {
    title: "Categories"
  }
};
</script>

<style scoped></style>
