<template>
  <div
    v-if="subtitles.length > 0 && subtitles[0].depth !== 3"
    class="px-4 py-2 rounded-md bg-light2 dark:bg-dark2"
  >
    <ul v-if="subtitles.length" class="">
      <li v-for="subtitle in subtitles" :key="subtitle.value">
        <span>
          <a
            v-bind:class="subtitle.depth - 1 == 2 ? 'mx-4' : ''"
            :href="subtitle.anchor"
          >
            {{ subtitle.value }}
          </a>
        </span>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  props: {
    subtitles: { type: Array, default: () => [] }
  }
};
</script>
