<template>
  <nav
    class="py-1 h-12 block md:hidden flex items-center justify-between flex-wrap container mx-auto"
  >
    <div class="block flex-grow flex items-center w-auto mx-4">
      <div class="flex items-center flex-shrink-0 mr-6">
        <a
          role="button"
          @click.prevent="openNavbarModal()"
          aria-label="Open Navigation"
          title="Open Navigation"
        >
          <menu-icon size="1.5x" class="custom-class"></menu-icon>
        </a>
      </div>
      <div class="flex-grow text-center font-bold text-lg">
        <span>
          <g-link
            class="rounded-sm font-semibold text-xl tracking-tight"
            to="/"
            >{{ $static.metadata.siteName }}</g-link
          >
        </span>
      </div>
      <div class="inline-block">
        <ul class="list-none flex justify-center md:justify-end">
          <li class="mr-6">
            <search-button v-on="$listeners"></search-button>
          </li>
          <li class="">
            <theme-switcher v-on="$listeners" :theme="theme" />
          </li>
        </ul>
      </div>
    </div>
  </nav>
</template>

<script>
import ThemeSwitcher from '~/components/Navbar/ThemeSwitcher.vue';
import SearchButton from '~/components/Navbar/SearchButton.vue';
import { MenuIcon } from 'vue-feather-icons';

export default {
  components: {
    MenuIcon,
    SearchButton,
    ThemeSwitcher,
  },
  props: {
    theme: {
      type: String,
    },
    showNavigation: {
      type: Boolean,
    },
  },
  methods: {
    openNavbarModal() {
      this.$emit('openNavbarModal');
    },
  },
};
</script>

<static-query>
query {
  metadata {
    siteName
  }
}
</static-query>
